.tables,th,td{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width:500px;
    height: 100px;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}